<IfModule mod_expires.c>
  Header append Cache-Control "public"
  FileETag MTime Size
  ExpiresActive On
  ExpiresDefault "access plus 2 days"
  ExpiresByType image/ico "access plus 2 months"
  ExpiresByType text/css "access plus 2 months"
  ExpiresByType text/javascript "access plus 2 months"
  ExpiresByType image/gif "access plus 2 months"
  ExpiresByType image/webp "access plus 2 months"
  ExpiresByType image/jpg "access plus 2 months"
  ExpiresByType image/png "access plus 2 months"
</IfModule>